<IfModule mod_env.c>
   # Add security and privacy related headers
   Header onsuccess unset X-Robots-Tag
   Header always set X-Robots-Tag "noindex, nofollow"
   
   SetEnv modHeadersAvailable true
</IfModule>